---
export const prerender = true;

import { getCollection } from "astro:content";
import { PostIntro } from "@components/PostIntro";
import Donation from "@components/Donation.astro";
import { GitHubLink } from "@components/GitHubLink";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((entry) => ({
    params: { article: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { description, tags, thumbnail, title, repository } = Astro.props.entry.data;
---

<BaseLayout title={title}>
  <main class="mx-2 md:mx-4">
    <PostIntro title={title} description={description} tags={tags.map((tag) => tag.slug)} thumbnail={thumbnail} />

    {!!repository && <GitHubLink repository={repository} />}

    <article class="prose dark:prose-invert lg:prose-xl max-w-none">
      <Content />
    </article>

    <Donation />
  </main>
</BaseLayout>
