---
export const prerender = true;

import BaseLayout from "@layouts/BaseLayout.astro";

const title = "About me";
const description =
  "A JavaScript specialist with many years of industry experience whose heart beats for Angular.";
---

<BaseLayout>
  <Fragment slot="head">
    <title>{title}</title>

    <meta name="title" content={title} />
    <meta property="og:title" content={title} />

    <meta name="description" content={description} />
    <meta name="og:description" content={description} />

    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="profile" />
  </Fragment>

  <main class="mx-2 md:mx-4">
    <article class="prose lg:prose-xl dark:prose-invert mb-10 max-w-none mt-10">
      <h1 class="text-center">{title}</h1>

      <div class="flex justify-center not-prose my-8">
        <img
          src="/about-me.jpg"
          alt="Portrait of the author"
          width={200}
          height={200}
          class="rounded-full"
        />
      </div>

      <p>
        A JavaScript specialist with many years of industry experience whose heart beats for Angular.
        A follower of the "Keep it simple, stupid" principle and a fan of clean code and good
        architecture. Fearless in the face of the toughest challenges, I always look for simple and
        effective solutions. As a pragmatist and an enthusiast of new technologies, I passionately
        follow the trends in the JavaScript world. After hours — a sailor who loves discovering new
        places and spending time on trips. My favorite motto? "Talk is cheap. Show me the code."
      </p>
    </article>
  </main>
</BaseLayout>
