---
interface Props {
  height: number;
  repository: string;
  branch?: string;
  path?: string;
  directoryPath?: string;
}

const { height, repository, branch, directoryPath, path } = Astro.props;

const demo = `https://${branch}--${repository}-cdgstudio.netlify.app/${path}`;
const github = `https://github.com/cdgstudio/${repository}/tree/${branch}/${directoryPath}`;
const stackBlitz = `https://stackblitz.com/~/github/cdgstudio/${repository}/tree/${branch}`;
---

<div class="not-prose flex flex-col">
  <iframe
    src={demo}
    sandbox="allow-scripts allow-same-origin allow-modals allow-forms"
    height={height}
    loading="lazy"
    class="w-full min-h-[100px] border border-blue-100 dark:border-sky-950"></iframe>
  <ul class="text-sm flex justify-end list-none p-1 my-0 bg-blue-100 dark:bg-sky-950 rounded-b-sm">
    <li>
      <a href={github} target="_blank" class="text-xs"> GitHub </a>
    </li>
    <li class="px-2">&#x2022;</li>
    <li>
      <a href={demo} target="_blank" class="text-xs"> New window </a>
    </li>
    <li class="px-2">&#x2022;</li>
    <li>
      <a href={stackBlitz} target="_blank" class="text-xs"> StackBlitz </a>
    </li>
  </ul>
</div>
