---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";
import { getBlogPostPath } from "@utils/blog-id.ts";
import { Image } from "astro:assets";

interface Props {
  blogEntry: CollectionEntry<"blog">;
}

const { blogEntry } = Astro.props;
const { title, description, thumbnail, tags, id } = blogEntry.data;
const link = getBlogPostPath(blogEntry);
---

<article id={id} class="grid gap-4 grid-cols-1 lg:grid-cols-[320px_auto]">
  <a href={link}>
    <Image src={thumbnail} alt="" class="w-full rounded-xl" />
  </a>

  <div class="flex flex-col content-between">
    <div>
      <h4 class="text-2xl m-0 mb-3">
        <a href={link}>{title}</a>
      </h4>

      <TagList tags={tags.map((t) => t.slug)} />

      <div class="text-justify mt-2">{description}</div>
    </div>

    <p class="mt-2 text-orange-400">
      <a href={link}>Read more</a>
    </p>
  </div>
</article>
