---
import type { CollectionEntry } from "astro:content";
import PostTag from "./PostTag.astro";
import { Image } from "astro:assets";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { title, description, tags, thumbnail, date } = Astro.props.entry.data;

const publishDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<header class="flex mt-6 mb-12 flex-col gap-12">
  <div class="grid gap-4 grid-cols-1 lg:grid-cols-[3fr_2fr]">
    <div class="order-2 lg:order-none">
      <h1 class="text-4xl m-0 font-bold">{title}</h1>
      <p class="text-justify my-4">{description}</p>
      <div class="flex gap-4 flex-wrap">
        <span class="flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
            ></path>
          </svg>
          {publishDate}
        </span>

        {tags.map((tag) => <PostTag tag={tag.slug} />)}
      </div>
    </div>
    <Image src={thumbnail} class="w-full rounded-xl order-1 lg:order-none" alt="" />
  </div>
</header>
